<div class="container mt-3">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1><strong>User info</strong></h1>
      <%= form_with model: @user, local: true do |f| %>
        <label for="inputName" class="mt-2">Name</label><br/>
        <%= f.text_field :name, autofocus: true, class:"w-100", id:"inputName", placeholder:"名前" %><br/>

        <label for="inputimage" class="mt-2">Image</label><br/>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br/>

        <label for="inputIntroduction" class="mt-2">Introduction</label><br/>
        <%= f.text_area :introduction, autofoccus: true, class:"w-100", id:"inputIntroduction" %><br/>

        <%= f.submit 'Update User', class:"mt-2 btn btn-secondary" %>
        
      <% end %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
