<h5>コメント一覧</h5>
<table class="table table-white py-2">
  <% book.post_comments.each do |post_comment| %>
  <tr>
    <td>
      <p>
        <%= attachment_image_tag post_comment.user, :profile_image,
            format:"jpeg", fallback:"no_image.jpg", size:"50x50" %>
      </p>
    </td>
    <td>
      <%= post_comment.user.name %>
    </td>
    <td>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><br/>
      <%= post_comment.comment %>
    </td>
    <td>
      <% if post_comment.user == current_user %>
        <%= link_to 'Destroy',
            book_post_comment_path(post_comment.book, post_comment),
            method: :delete, class:"btn btn-danger" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>