<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Home', user_path(current_user.id) %> <!--Userルート確認後(マイページ画面？)-->
        </li>
        <li>
          <%= link_to 'Users', users_path %><!--Userルート確認後(ユーザー一覧画面？)-->
        </li>
        <li>
          <%= link_to 'Books', books_path %><!--Bookルート確認後(投稿一覧画面？)-->
        </li>
        <li>
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Home', root_path %> <!--Userルート確認後(マイページ画面？)-->
        </li>
        <li>
          <%= link_to 'About', about_path %> <!--homesルート確認後(views/homes内にabout.html.erb作成？)-->
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'login', new_user_session_path %>
        </li>
      <% end %>
    </header>




    <%= yield %>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
